.section-about-us-page {
  background-image: url('/images/pages/about/about_us_page_image.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 8rem;
}

.service-design-container {
  border-radius: 1rem;
  /* border: 0.1px solid red; */
}
