.services-section {
  margin-top: 4rem;
}

.service {
  padding-block: 4rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.service__body-content .english-title {
  text-align: left;
  color: var(--gray-400);
}

.service__body-content .section-title {
  margin-bottom: 2rem;
  text-align: start;
}

.service__image-content {
  position: relative;
}

.service__image {
  border-radius: 1rem;
}

.service__icon-container {
  position: absolute;
  top: -0.8rem;
  left: -0.8rem;
  rotate: -45deg;
}

@media screen and (min-width: 1024px) {
  .service {
    align-items: center;
    padding-inline: 0;
    max-width: 75%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .service__image-content {
    display: flex;
  }

  .service__image {
    height: 100%;
  }
}
