.btn-container {
  display: block;
  background-color: var(--color-button);
  padding: 1.6rem 3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.btn-container:hover {
  background-color: var(--color-button-hover);
}

.btn__content {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  direction: rtl;
}

.btn__content span {
  color: var(--gray-200);
  font-size: 1.6rem;
  font-weight: 600;
}

@media screen and (min-width: 57.5em) {
  .btn-container {
    margin-inline-start: auto;
  }
}
