.item {
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 1.5rem 0.3rem rgba(0, 0, 0, 0.25);
}

.item:active {
  transform: none;
  box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.25);
}
.item h2 {
  color: var(--gray-800);
}

.item__details-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
  width: 100%;
}

.status-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item__location {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 700;
}

.item__line,
.item__dimension {
  font-size: 1.4rem;
  color: var(--gray-400);
  font-weight: 500;
}

.item__label-cotainer {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--gray-600);
}

.item__image-content {
  width: 100%;
  display: flex;
}

.item__image-content img {
  margin-inline: auto;
  border-radius: 1rem;
  align-self: center;
}

.item__status {
  display: inline;
  padding: 0.5rem 3rem;
  border-radius: 3rem;
}

.reserved {
  background-color: rgb(197, 197, 197);
}

.available {
  background-color: var(--color-button);
  color: var(--gray-200);
}

@media screen and (min-width: 45em) {
  .item__location {
    font-size: 2.6rem;
    font-weight: 700;
  }

  .item__line,
  .item__dimension {
    font-size: 2rem;
  }

  .item__label-cotainer {
    font-size: 1.6rem;
  }
}
