.section-call-us {
  background-image: url('/images/pages/contact/contact_us_hero_image.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 8rem;
}

.contact-cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (min-width: 1024px) {
  .contact-cards {
    display: flex;
    gap: 3rem;
    max-width: 75%;
    margin-inline: auto;
  }
}
