h1 {
  margin-bottom: 6rem;
}

.jajrud-section-title {
  text-align: center;
}

.jajrud-section-title h1 {
  font-size: 3rem;
}
.jajrud-section-title span {
  font-family: "roboto", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: var(--gray-400);
}

.list-container {
  display: flex;
  flex-direction: column;
  margin: auto 2rem;
  row-gap: 3rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 1150px) {
  .list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 75%;
    margin: auto;
    justify-content: center;
  }

  .jajrud-section-title h1 {
    font-size: 4.8rem;
  }
  .jajrud-section-title span {
    font-family: "roboto", sans-serif;
    font-size: 3rem;
    font-weight: 100;
    color: var(--gray-400);
  }

  .list-container h2 {
    font-size: 2rem;
  }

  .list-container h3 {
    font-size: 1.4rem;
  }

  .item__dimension-container span {
    font-weight: 500;
  }
}

@media screen and (min-width: 93em) {
  .list-container {
    width: 60%;
  }
}
