.section-category {
  background-color: var(--color-primary);
}

.category-container {
  margin: auto 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  padding-block: 5rem;
}

.category-page-container .category-nav {
}

img {
  width: 100%;
}

.category-btn {
  display: flex;
  justify-content: end;
  margin-inline: 4rem;
}

@media screen and (min-width: 1150px) {
  .category-page-container .category-nav {
    width: 78%;
    margin-inline: auto;
  }
  .breadcrumb {
    display: flex !important;
  }
  .category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    width: 90%;
    margin-inline: auto;
  }

  .category {
    transition: all 0.3s ease-in-out;
  }

  .category:hover {
    scale: 1.05;
  }

  .category:hover .category-heading {
    padding: 5rem;
    font-size: 1.8rem;
  }

  .category-heading {
    font-size: 1.4rem;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
  }

  .category-nav .nav__buttons {
    display: none !important;
  }
}
